$bluecyan: #579c87;
$yellowtitle: #fdcb46;

@font-face{
    font-family:"Roboto";
    src: url("./font/Roboto/Roboto-Regular.ttf") format("TrueType");
}

body{
    margin: 0px;
    font-family: Roboto;
}

header{
    background: $bluecyan;
    height: 90px;
    display:flex;
    h1{
        letter-spacing: -1px;
        font-size: 40px;
        text-align: center;
        margin: auto;
        color: $yellowtitle;
    }
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px;
    .menudescription{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        .menudescription__btn{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 100%;
            width: 250px;
            height: 350px;
            margin: 10px;
            text-align: center;
            border: solid 1px rgb(182, 181, 181);
            box-shadow: 2px 2px 5px 2px rgb(187, 185, 185);
            text-decoration: none;
        }
    }
}

.prochainement{
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 25px;
        font-weight: lighter;
        letter-spacing: 1px;
        margin: 10px 0px 10px 0;
    }
    .btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        border: solid 1px rgb(182, 181, 181);
        border-radius: 10px;
        background-color: $bluecyan;
        color: $yellowtitle;
        padding: 2px 30px 2px 30px;
        &:hover{
            background-color: red;
        }
    }
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    height: 100px;
    margin-top: 30px;
    background-color: $bluecyan;
    color: $yellowtitle;
    a{
        color: $yellowtitle;
        text-decoration: none;
        font-size: 1,8em;
    }
}

#menu1{
    background-color: #fcdfdb;
    &:hover{
        background-color: red;
    }
}

#menu2{
    background-color: #fff5fe;
    &:hover{
        background-color: red;
    }
}

#menu3{
    background-color: #f9f9f9;
    &:hover{
        background-color: red;
    }
}

#menu4{
    background-color: #fdfffd;
    &:hover{
        background-color: red;
    }
}