//variable

$bluecyan: #579c87;
$yellowtitle: #fdcb46;

//mixin

@mixin animationzoom{
    animation-duration: 400ms;
    animation-name: animationfondue;
    animation-fill-mode: both;
    transition :transform 400ms ease-in-out;
    transform: scale(1.15);
}

@mixin pointdesuspension{
    animation-name: dotty;
    animation-duration: 300ms;
}

//keyframe

@keyframes animationfondue{
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0.75;
        }
    }

@keyframes wiggle {
    0% {
        transform: rotate(-3deg);
    }
    20% {
        transform: rotate(3deg);
    }
    40% {
        transform: rotate(-3deg);
    }
    60% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0);
    }
}
      
@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
    }

/*font*/

@font-face{
    font-family:"Roboto";
    src: url("./font/Roboto/Roboto-Regular.ttf") format("TrueType");
}

@font-face{
    font-family:"SegoePrint";
    src: url("./font/SergoePrint/SegoePrint.ttf") format("TrueType");
}

@font-face{
    font-family:"croissant";
    src: url("./font/CroissantOne/croissantone-regular.ttf") format("TrueType");
}

@font-face{
    font-family:"dancing";
    src: url("./font/Dancing/dancing.ttf") format("TrueType")
}

@font-face{
    font-family:"kaus";
    src: url("./font/kaush/kaush-regular.ttf") format("TrueType")
}

/*Responsive*/

@media only screen and (max-width: 645px){
    header{
        height: auto !important;
        .logo{
            display: block !important;
            font-size: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu{
        display: block !important;
        .menudescription{
            &:nth-child(2n){
                justify-content: center!important;
            }
            &:nth-child(2n+1){
                justify-content: center!important;
            }
        }
    }

    .lacarte{
        .lacarte__block{
            font-size: 9px;
            padding: 0px 15px 0px 15px;
        th{
            font-size: 16px;
        }
        }
        table{
            padding: 0px 15px 0px 15px !important;
        }
        hr{
            display: none;
        }
    }
    .prochainement{
        .btn{
            padding: 2px 8px 2px 8px;
            width: 130px;
            h3{
                font-size: 13px;
            }
        }
    }
    footer{
        height: auto !important;
        a{
            font-size: 15px !important;
        }
    }

}

@media only screen and (max-width: 300px){

    body{
        margin: 0px 0px 50px 0px !important;
    }
    .menudescription{
        .menudescription__btn{
            height: 250px !important;
            width: 180px !important;
            font-size: 10px !important;
        }
    }
    .prochainement{
        .btn{
            padding: 3px !important;
            h3{
                font-size: 13px;
            }
        }
    }

    footer{
        height: auto !important;
        a{
            font-size: 10px !important;
        }
    }
}

/*partie index.html*/

body{
    margin: 0px 0px 100px 0px;
    font-family: Roboto;
}

header{
    background: $bluecyan;
    height: 90px;
    display:flex;
    h1{
        letter-spacing: -1px;
        font-size: 40px;
        margin: auto;
        text-decoration: none;
    }
    .logo{
        text-decoration: none;
        color: $yellowtitle;
    }
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px;
    h6{
        display: none;
    }
    .menudescription{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        &:nth-child(2n){
            justify-content: flex-end;
        }
        &:nth-child(2n+1){
            justify-content: flex-start;
        }
        .menudescription__btn{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 250px;
            height: 350px;
            margin: 10px;
            text-align: center;
            border: solid 1px rgb(182, 181, 181);
            box-shadow: 2px 2px 5px 2px rgb(187, 185, 185);
            text-decoration: none;
        }
    }
}

.prochainement{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dotty steps(1,end) 1s infinite;
    h3{
        font-size: 25px;
        font-weight: lighter;
        letter-spacing: 1px;
        margin: 10px 0px 10px 0;
        &:after{
            display: inline-block;
            animation: dotty steps(1,end) 4s infinite;
            content: '';
        }
    }
}

.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: solid 1px rgb(182, 181, 181);
    border-radius: 10px;
    background-color: $bluecyan;
    color: $yellowtitle;
    padding: 2px 30px 2px 30px;
    width: 205px;
    &:hover{
        opacity: 0.90;
        cursor: pointer;
    }
}

footer{
    position: fixed;
    bottom: 00%;
    width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    height: 50px;
    background-color: $bluecyan;
    color: $yellowtitle;
    a{
        color: $yellowtitle;
        text-decoration: none;
        font-size: 1.4em;
        padding: 0px 30px 0px 30px;
        &:hover{
            display: inline-block;
            animation: 400ms wiggle ease;
        }
    }
}

#menu1{
    background-color: #fcdfdb;
    font-family: "SegoePrint";
    color: #3d1319;
    span{
        background: -webkit-linear-gradient(0turn, #f05761, #f26f69, #f6916a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-style: inherit;
        font-style: oblique;
    }
    &:hover{
        h2,p,span{
       @include animationzoom();
        }
    }
    
}

#menu2{
    background-color: #fff5fe;
    font-family: "croissant";
    p{
        background: -webkit-linear-gradient(0turn, #d68235, #b36e9a, #8f5aff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0px 12px 0px 12px;
    }
    h2{
        font-family: 'Times New Roman', Times, serif;
        color: #c77412;
    }
    &:hover{
        h2,p,span{
       @include animationzoom();
        }
    }
}

#menu3{
    background-color: #f9f9f9;
    p{
        font-family: "Dancing";
        font-size: 20px;
        background: -webkit-linear-gradient(0turn, #264be2, #2f75ee, #2897fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0px 12px 0px 12px;
    }
    h2{
        font-family: "SegoePrint";
        font-weight: lighter;
        color: #108bfb;
    }
    &:hover{
        h2,p,span{
       @include animationzoom();
        }
    }
}

#menu4{
    p{
        font-family: "kaus";
        font-size: 20px;
        background: -webkit-linear-gradient(0turn, #43973d, #97dd6c, #c3ff8a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0px 12px 0px 12px;
    }
    h2{
        font-family: "SegoePrint";
        font-weight: lighter;
        color:#72bf56;
    }
    background-color: #fdfffd;
    &:hover{
        h2,p,span{
       @include animationzoom();
        }
    }
}

/*partie style des fichiers html des menus*/

.lacarte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    h1{
        text-align: center;
    }
    table{
        padding: 0px 60px 100px 60px;
    }
    .lacarte__block{
        justify-content: center;
        background-color: #fcdfdb;
        .lacarte__block--titre{
            flex-direction: row;
            padding: 30px 0px 30px 0px;
        }
        .lacarte__block--entrée{
            flex-direction: row;
            padding: 0px 0px 20px 0px;
        }
        .lacarte__block--plat{
            flex-direction: row;
            padding: 30px 0px 20px 0px;
        }
        .lacarte__block--dessert{
            flex-direction: row;
            padding: 30px 0px 30px 0px;
        }
        td{
            padding: 5px 0px 5px 0px;
        }
    }
}
