@charset "UTF-8";
/* responsive*/
@media only screen and (max-width: 645px) {
  .lacarte__block {
    font-size: 10px !important;
  }
  .lacarte__block th {
    font-size: 13px !important;
  }
  .lacarte__block span {
    font-size: 12px !important;
  }
}
.lacarte__block {
  justify-content: center;
  background-color: #fcdfdb;
  font-family: "SegoePrint";
  font-size: 15px;
  border: solid 1px #b6b5b5;
  box-shadow: 2px 2px 5px 2px #bbb9b9;
}
.lacarte__block .lacarte__block--titre {
  flex-direction: row;
  padding: 30px 0px 30px 0px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  border: none;
  box-shadow: none;
}
.lacarte__block .lacarte__block--entrée {
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  font-size: 22px;
  border: none;
  box-shadow: none;
}
.lacarte__block .lacarte__block--entrée th {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
.lacarte__block .lacarte__block--entrée th:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4b2227;
  transform: scaleX(0);
  transition: transform 310ms ease-in-out;
}
.lacarte__block .lacarte__block--entrée th:hover:after {
  transform: scaleX(1);
}
.lacarte__block .lacarte__block--entrée th:after {
  transform-origin: 0% 50%;
}
.lacarte__block .lacarte__block--plat {
  justify-content: space-between;
  padding: 30px 0px 20px 0px;
  font-size: 22px;
  border: none;
  box-shadow: none;
}
.lacarte__block .lacarte__block--plat th {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
.lacarte__block .lacarte__block--plat th:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4b2227;
  transform: scaleX(0);
  transition: transform 310ms ease-in-out;
}
.lacarte__block .lacarte__block--plat th:hover:after {
  transform: scaleX(1);
}
.lacarte__block .lacarte__block--plat th:after {
  transform-origin: 0% 50%;
}
.lacarte__block .lacarte__block--dessert {
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  font-size: 22px;
  border: none;
  box-shadow: none;
}
.lacarte__block .lacarte__block--dessert th {
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
.lacarte__block .lacarte__block--dessert th:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4b2227;
  transform: scaleX(0);
  transition: transform 310ms ease-in-out;
}
.lacarte__block .lacarte__block--dessert th:hover:after {
  transform: scaleX(1);
}
.lacarte__block .lacarte__block--dessert th:after {
  transform-origin: 0% 50%;
}
.lacarte__block td {
  padding: 5px 0px 5px 0px;
}
.lacarte__block td hr {
  width: 130px;
  height: 2px;
  background-color: #4b2227;
  border: none;
}
.lacarte__block td:nth-child(2) {
  font-weight: bold;
}
.lacarte__block span {
  background: -webkit-linear-gradient(0turn, #f05761, #f26f69, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-style: oblique;
  font-weight: lighter;
}
.lacarte__block tr {
  display: flex;
  justify-content: space-between;
  color: #4b2227;
}

/*# sourceMappingURL=stylemenu1.css.map */
