@charset "UTF-8";
@keyframes animationfondue {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/*font*/
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto/Roboto-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: "SegoePrint";
  src: url("./font/SergoePrint/SegoePrint.ttf") format("TrueType");
}
@font-face {
  font-family: "croissant";
  src: url("./font/CroissantOne/croissantone-regular.ttf") format("TrueType");
}
@font-face {
  font-family: "dancing";
  src: url("./font/Dancing/dancing.ttf") format("TrueType");
}
@font-face {
  font-family: "kaus";
  src: url("./font/kaush/kaush-regular.ttf") format("TrueType");
}
/*Responsive*/
@media only screen and (max-width: 645px) {
  .menu {
    display: block !important;
  }

  .lacarte .lacarte__block {
    font-size: 12px;
  }
  .lacarte .lacarte__block th {
    font-size: 16px;
  }
  .lacarte .table {
    padding: 0px 15px 0px 15ox;
  }
}
/*partie index.html*/
body {
  margin: 0px 0px 100px 0px;
  font-family: Roboto;
}

header {
  background: #579c87;
  height: 90px;
  display: flex;
}
header h1 {
  letter-spacing: -1px;
  font-size: 40px;
  margin: auto;
  text-decoration: none;
}
header .logo {
  text-decoration: none;
  color: #fdcb46;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px;
}
.menu .menudescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
.menu .menudescription .menudescription__btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 350px;
  margin: 10px;
  text-align: center;
  border: solid 1px #b6b5b5;
  box-shadow: 2px 2px 5px 2px #bbb9b9;
  text-decoration: none;
}

.prochainement {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: dotty steps(1, end) 1s infinite;
}
.prochainement h3 {
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 10px 0px 10px 0;
}
.prochainement h3:after {
  display: inline-block;
  animation: dotty steps(1, end) 4s infinite;
  content: "";
}

.btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: solid 1px #b6b5b5;
  border-radius: 10px;
  background-color: #579c87;
  color: #fdcb46;
  padding: 2px 30px 2px 30px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 50px;
  background-color: #579c87;
  color: #fdcb46;
}
footer a {
  color: #fdcb46;
  text-decoration: none;
  font-size: 1.5em;
}
footer a:hover {
  display: inline-block;
  animation: 400ms wiggle ease;
}

#menu1 {
  background-color: #fcdfdb;
  font-family: "SegoePrint";
  color: #3d1319;
}
#menu1 span {
  background: -webkit-linear-gradient(0turn, #f05761, #f26f69, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-style: inherit;
}
#menu1:hover h2, #menu1:hover p, #menu1:hover span {
  animation-duration: 400ms;
  animation-name: animationfondue;
  animation-fill-mode: both;
  transition: transform 400ms ease-in-out;
  transform: scale(1.15);
}

#menu2 {
  background-color: #fff5fe;
  font-family: "croissant";
}
#menu2 p {
  background: -webkit-linear-gradient(0turn, #d68235, #b36e9a, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu2 h2 {
  font-family: "Times New Roman", Times, serif;
  color: #c77412;
}
#menu2:hover h2, #menu2:hover p, #menu2:hover span {
  animation-duration: 400ms;
  animation-name: animationfondue;
  animation-fill-mode: both;
  transition: transform 400ms ease-in-out;
  transform: scale(1.15);
}

#menu3 {
  background-color: #f9f9f9;
}
#menu3 p {
  font-family: "Dancing";
  font-size: 20px;
  background: -webkit-linear-gradient(0turn, #264be2, #2f75ee, #2897fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu3 h2 {
  font-family: "SegoePrint";
  font-weight: lighter;
  color: #108bfb;
}
#menu3:hover h2, #menu3:hover p, #menu3:hover span {
  animation-duration: 400ms;
  animation-name: animationfondue;
  animation-fill-mode: both;
  transition: transform 400ms ease-in-out;
  transform: scale(1.15);
}

#menu4 {
  background-color: #fdfffd;
}
#menu4 p {
  font-family: "kaus";
  font-size: 20px;
  background: -webkit-linear-gradient(0turn, #43973d, #97dd6c, #c3ff8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu4 h2 {
  font-family: "SegoePrint";
  font-weight: lighter;
  color: #72bf56;
}
#menu4:hover h2, #menu4:hover p, #menu4:hover span {
  animation-duration: 400ms;
  animation-name: animationfondue;
  animation-fill-mode: both;
  transition: transform 400ms ease-in-out;
  transform: scale(1.15);
}

/*partie style des fichiers html des menus*/
.lacarte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.lacarte h1 {
  text-align: center;
}
.lacarte table {
  padding: 0px 60px 100px 60px;
}
.lacarte .lacarte__block {
  justify-content: center;
  background-color: #fcdfdb;
}
.lacarte .lacarte__block .lacarte__block--titre {
  flex-direction: row;
  padding: 30px 0px 30px 0px;
}
.lacarte .lacarte__block .lacarte__block--entrée {
  flex-direction: row;
  padding: 0px 0px 20px 0px;
}
.lacarte .lacarte__block .lacarte__block--plat {
  flex-direction: row;
  padding: 30px 0px 20px 0px;
}
.lacarte .lacarte__block .lacarte__block--dessert {
  flex-direction: row;
  padding: 30px 0px 30px 0px;
}
.lacarte .lacarte__block td {
  padding: 5px 0px 5px 0px;
}

/*# sourceMappingURL=style.css.map */
